<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo">Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let card of cards">
    <ion-img src='..\assets\{{card.img}}'></ion-img>

    <ion-card-header>
      <ion-card-subtitle>Teamwork</ion-card-subtitle>
      <ion-card-title>Planejamento</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Nosso negócio não é cerveja, nem hambúrguer ou ketchup, é gente.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="analytics" slot="start"></ion-icon>
      <ion-label>Planejamento</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      Na nossa empresa,
      os clientes são especiais todos os dias do ano,
      mas aproveitamos este dia para lhe agradecer a preferência
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="desktop-sharp" slot="start"></ion-icon>
      <ion-label>Visão</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="construct" slot="start"></ion-icon>
      <ion-label>Serviços</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-icon name="easel-sharp" slot="start"></ion-icon>
      <ion-label>Meta</ion-label>
    </ion-item>
  </ion-card> 
</ion-content>
