<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Servicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-item color="medium">
    <ion-label position="floating">Descricao</ion-label>
    <ion-textarea placeholder="Digite sua necessidade"></ion-textarea>
  </ion-item>
  <ion-item color="medium">
    <ion-label position="floating">Data</ion-label>
    <ion-input type="text" placeholder="Digite a data"></ion-input>
  </ion-item>
  <ion-button type="submit" color="success" expand="block">Enviar</ion-button>
  <ion-button type="submit" expand="block" color="danger">Cancelar</ion-button>
</ion-content>
