<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-item color="medium">
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="nome" placeholder="Digite seu nome" type="text">  </ion-input>
  </ion-item>

  <ion-item color="medium">
    <ion-label position="floating">CPF</ion-label>
    <ion-input [(ngModel)]="cpf" placeholder="Digite seu CPF" type="number">  </ion-input>
  </ion-item>

  <ion-item color="medium">
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" placeholder="Digite seu email" type="email"> </ion-input>
  </ion-item>

  <ion-item color="medium">
    <ion-label position="floating">Telefone</ion-label>
    <ion-input [(ngModel)]="telefone" placeholder="Digite seu Telefone" type="number">  </ion-input>
  </ion-item>

  <ion-item color="medium">
    <ion-label position="floating">Senha</ion-label>
    <ion-input [(ngModel)]="senha" placeholder="Digite sua senha" type="password">  </ion-input>
  </ion-item>

  <ion-item color="medium">
    <ion-label position="stacked">Endereco</ion-label>
    <ion-input [(ngModel)]="cep" placeholder="Cep"></ion-input>
    <ion-input [(ngModel)]="logradouro" placeholder="Logradouro"></ion-input>
    <ion-input [(ngModel)]="numero" placeholder="Numero"></ion-input>
    <ion-input [(ngModel)]="complemento" placeholder="Complemento"></ion-input>
    <ion-input [(ngModel)]="tipo" placeholder="Tipo"></ion-input>
    <ion-input [(ngModel)]="cidade" placeholder="Cidade"></ion-input>
    <ion-input [(ngModel)]="bairro" placeholder="Bairro"></ion-input>
    <ion-input [(ngModel)]="uf" placeholder="Uf"></ion-input>
  </ion-item>
  <ion-button (click)="add()" type="submit" color="success" expand="block" size="large">Add</ion-button>

</ion-content>
