<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo">Login</ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content color="primary">
    <img src="../../assets/user.png" />

  <ion-item color="secondary">
    <ion-label position="floating">CPF</ion-label>
    <ion-input  [(ngModel)]="cpf" placeholder="Digite o cpf" maxlength="11" required></ion-input>
  </ion-item>

  <ion-item color="secondary">
    <ion-label position="floating">SENHA</ion-label>
    <ion-input  [(ngModel)]="senha" placeholder="Digite a senha" type="password" maxlength="8" required></ion-input>
  </ion-item>

  <ion-button (click)="logar()"  color="secondary" expand="block" color="medium">Login</ion-button>

  <ion-button (click)="cadastro()" color="secondary" expand="block" color="medium">Cadastrar</ion-button>
  
</ion-content>
